################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TwoNmubersSum/bin/Debug
/TwoNmubersSum/obj/Debug
